 # OpenComputers access transformer config for Minecraft 1.20.1

# Piston
public net.minecraft.world.level.block.piston.PistonBaseBlock moveBlocks(Lnet/minecraft/world/level.Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;Z)Z # moveBlocks

# Player
public-f net.minecraft.world.entity.player.Player containerMenu # inventoryMenu
public-f net.minecraft.world.entity.player.Inventory inventory # inventory

# Furnace
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litTime # litTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity litDuration # litDuration
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingProgress # cookingProgress
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity cookingTotalTime # cookingTotalTime

# Beacon
public net.minecraft.world.level.block.entity.BeaconBlockEntity secondaryPower # secondaryPower
public net.minecraft.world.level.block.entity.BeaconBlockEntity primaryPower # primaryPower

# Brewing Stand
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity brewTime # brewTime

# Sign
public net.minecraft.world.level.block.entity.SignBlockEntity messages # messages

# Spawner
public net.minecraft.world.level.BaseSpawner getSpawnerEntity()Lnet/minecraft/resources/ResourceLocation; # getEntityId
